@media screen and (max-width: 500px) {
    body{
        height: auto;
        background-image: url(imagens/fundo1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
}
header{
        color: white;
        background: orange;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.7em;
        text-align: center;
        margin: 0 auto;
        padding-top: 10px;
        height: auto;
}
h4{
        font-size: 0.7em;
        margin: 10px;
}

a{
    color: white;
    background-color: brown;
    text-decoration: none;
    font-size: 0.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px auto;
}
nav{
    display: flex;
    justify-content: flex-start;
    background-color: brown;
    height: auto;
}
main{
    height: 100vh;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: white;
    height: 10px;
}
table{
    background-color: white;
    text-align: center;
    margin: 30px auto;
}
td{
    border: solid orange;
    padding: 4px;
}
th{
    background-color:darkgray;
    border: solid darkorange;
}
caption{
    font-size: 2em;
    text-transform: uppercase;
}
}